*.log
*log*/*
*log*
*cache*
*__pycache__*/*
tempCodeRunnerFile.py
*.gz
!*.kt
!*.xml

# compiled output
/dist
/tmp
/out-tsc


# misc
/.sass-cache
/connect.lock
/coverage
/typings

# e2e
/e2e/*.js
/e2e/*.map

.npm
node_modules/

app/.gradle/*

# postgresql data
data/*